<div class="search-container">
  <div class="input">
    <input
      type="text"
      placeholder="Search for items..."
      id="search"
      name="search"
      #searchInput
    />
  </div>
  @if(!loading && !error && items) {
  <div class="data">
    @for (item of items; track $index) {
    <p>Search matched {{ item }}</p>
    }
  </div>
  } @if (loading) {
  <div class="loading">
    <p>Loading...</p>
  </div>
  } @if (error) {
  <p class="error">Error: {{ error }}</p>
  } @if (items.length === 0) {
  <p class="not-found">{{ notFound }}</p>
  }
</div>
